<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name = 'dokutah'

if name == 'doktah':
    print("zzz...")
elif name == 'dokutah': # adds an additional branch to the if-else statement
    print("hello dokutah")
else:
    print("Arknights")

hello dokutah

alt+click and drag to enable multiple inputs

# 2 Asking questions

In [2]:
snipers = ['exusiai', 'ash', 'archetto', 'rosmontis', 'w', 'typhon']
medics = ['shining', 'nightingale', 'lumen', 'eyjafjalla']

In [3]:
'exusiai' in snipers

True

In [4]:
'thorns' in snipers

False

In [5]:
'goldenglow' not in snipers

True

In [6]:
('ash' in snipers) and ('lumen' in medics) # both arguments are true

True

In [7]:
('archetto' in snipers) and ('eyjafjalla' in snipers) # first argument is true, second argument is false

False

In [8]:
('archetto' in snipers) or ('shining' in snipers) # first argument is true, second argument is false

True

In [9]:
'exia' in 'exusiai' # exia are all letters appearing in exusiai, but they are not consecutive

False

In [13]:
'eyja' in 'eyjafjalla' # eyja appears in eyjafjalla as consecutive letters

True

In [14]:
'apples' > 'oranges' # comparison is based on internal representation of 'a' as 97 and 'o' as 111

False

`in` is case-sensitive

# 3 Remember

## 3.1 Asking Math questions

In [15]:
3/2 == 1.5 # equals =

True

In [16]:
3/2 != 2 # not equals =/=

True

In [17]:
3/2 < 2 # less than

True

In [18]:
3/2 > 2 # more than

False

In [19]:
5/2 <= 2 # less than or equal to

False

In [20]:
5/2 >= 2 # more than or equal to

True

In [23]:
x=10
5 < x < 15 < 20 # Python can read multiple math operations in the same line

True

In [1]:
print(5*10+20/10) # Python can follow order of operations

52.0

Restarted kernel to fix print error

Typed `5*10+20/10` without print()

Brackets can also be used to improve readability `(x<5) and (x>15)` for `5<x<15`

# 4 Python stores information in different formats or types

In [2]:
x = int(1.234) # stores 1.234 as an integer x (rounds to nearest whole number)
print(x, type(x)) # prints x as well as its class/type (int = integer)

1 <class 'int'>

In [3]:
x = str(1.234) # stores 1.234 as a string x (text/number string)
print(x, type(x)) # str = string

1.234 <class 'str'>

In [4]:
x = float(1.234) # stores 1.234 as a float x (floating decimal number)
print (x, type(x))

1.234 <class 'float'>

In [5]:
x = complex(1.234) # stores 1.234 as a complex number x (real + imaginary number)
print (x, type(x))

(1.234+0j) <class 'complex'>

In [7]:
print (x, type(x))
x = float(x) # cannot convert complex to float, as float argument must be a string or real number

(1.234+0j) <class 'complex'>

TypeError: float() argument must be a string or a real number, not 'complex'

In [10]:
x = 10.5 # if x = an integer, it is assigned int type, if = a decimal, it is assigned float type
print(x, type(x))

x = int(x) # typecasting x from a float to an int
print(x, type(x))

10.5 <class 'float'>
10 <class 'int'>

In [13]:
x = 10+1j
print (x, type(x))

x = int(x) # cannot convert complex to int or float
print(x, type(x))

(10+1j) <class 'complex'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

default types:  
x = integer `int`  
x = 'string' `str`  
x = decimal `float`  
x = real+imaginary `complex`

typecasting:  
x = `target_type`(x)

double space = line break

# 5 Never compare floats directly

## 5.1 The Problem

In [15]:
a=0.1
a3=0.3
a*3 == a3 # example of a roundoff error where 3*0.1 != 0.3

False

In [17]:
f'{0.3:.17f}' # prints 0.3 to 17 decimal places

'0.29999999999999999'

In [24]:
f'{0.1:.16f}' # floating decimals stored accurate to 16 decimal places only

'0.1000000000000000'

## 5.2 A solution

In [25]:
eps = 1E-10 # margin for error set at 1E-10
abs(a*3-a3) < eps # absolute difference of a*3 and a3 is compared to the margin for error

True

above code checks if the two numbers are close rather than equal  
if the difference is smaller than 1E-10, the code will return true

In [26]:
import numpy as np
np.isclose(a*3, a3) # utilises isclose function from numpy to check if two numbers are close

True

does import have to be run each time the kernel is restarted for the imported package functions to work?

In [37]:
np.isclose(0.00000001, 0.00000002)

True

numpy.isclose is accurate to 0.0000001 (1E-7); if the difference is smaller than that, it will return true

# 6 Combining English and variables

In [40]:
name = 'Ziyan' # name is a variable of class str
print(f"Hello {name}!") # str variable name is incorporated into the English string to be printed using string interpolation

Hello Ziyan!

In [41]:
print(type(name))

<class 'str'>

In [42]:
name = 42 # int variable
print(f"Hello {name}!") # int variable incorporated into string using f{}

Hello 42!

In [43]:
print(type(name))

<class 'int'>

In [48]:
name = 'Ziyan'
print (f"Hello {name.upper()}") # changes name str to uppercase

Hello ZIYAN

In [46]:
name = "ZIYAN"
print (f"Hello {name.lower()}") # changes name str to lowercase

Hello ziyan

In [51]:
x=2.5
print (f"The value of {x} squared is {x**2}") # works for different int/float values of x

The value of 2.5 squared is 6.25

inclusion of `f` and `{}` (f-string/string interpolation) allows merging of variables and strings  
`f` = treat `{}` within strings as variables

## 6.1 Structure of f-strings

In [2]:
text = 'I\'m about to fall asleep.'
print (text)

I'm about to fall asleep.

In [71]:
print (f'{text:>50}') # :>50 indents text to the centre of a block of 50 characters

                         I'm about to fall asleep.

In [73]:
print (f'{text:0^26}') # ^ indents text to the centre

I'm about to fall asleep.0

In [3]:
print (f'{text:0^27}') # 2 remaining characters in the block -- centres properly now

0I'm about to fall asleep.0

In [66]:
print (f'{text:<50}') # < indents text to the left

I'm about to fall asleep.

In [68]:
print (f'The square root of pi to 3 decimal places is {np.sqrt(np.pi):0.3f}') # f-string formatted result to a float to 3 d.p.

The square root of pi to 3 decimal places is 1.772

In [69]:
print (f'The square root of pi to 4 d.p. is {np.sqrt(np.pi):.4e}') # e outputs scientific notation

The square root of pi to 4 d.p. is 1.7725e+00

indent does not work if the block of characters specified is shorter than the str  
if asked to indent centre with an odd remaining amount of characters, it will put the last character on the right  
pi needs to be taken from numpy

formatting is in the form `X:>0Y.ZW`  
`X` = variable to be formatted, can be number or string  
`>` `^` `<` = (indent) justify direction  
`0` = (indent) fills empty spaces with this character (in this case `0`). by default ` ` is used  
`Y` = total number of characters  
`.Z` = (decimal) number of decimal places  
`W` = output variable type  
(`f` = float ; `e` = scientific (notation) ; `d` = integer ; `s` = string ; `g` = Python's decision)

In [5]:
import numpy as np
print(f" let's see {np.pi:010.4f}") 
# product represented by float to 4 decimal places as part of a block of 10 characters with 0 filling blanks on the left

 let's see 00003.1416

# 7 Escape sequences

In [5]:
print('Line1\tLine2\nLine3')

Line1	Line2
Line3

In [12]:
print('g\'day')
print("C:\\backslash")
print('Hello\nHELLO\nH E L L O')
print('one\ttwo\tthree\tfour')

g'day
C:\backslash
Hello
HELLO
H E L L O
one	two	three	four

Escape sequences (marked in code using `\`)

apostrophe `\'`  
backslash `\\`  
line break `\n`  
line tab `\t`

# 8 Computers read = from Right to Left!

In [13]:
x = 40
y = x+2
print(y)

42

In [6]:
y=40
y=y+2 # variable y was modified from 40 to 40+2 in this line (interpreted 40+2 before assigning it to y)
print(y)

42

In [15]:
x = y = 10 # Python allows 2 =
print(x,y)

10 10

In [16]:
40 = x # testing if 40 = x works?
x + 2 = y
print(y)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (427382889.py, line 1)

In [8]:
x = 40
x+2 == y # ran a cell previously that assigned y=42

True

# 9 Shorter and Cleaner Code

In [20]:
y = 10
y +=2 # += changes variable y by adding 2 to it
y

12

In [21]:
y = 10
y -= 2 # -= changes variable y by subtracting 2 from it
y

8

In [22]:
y = 10
y *= 2 # *= changes variable y by multiplying it by 2
y

20

In [26]:
y = 10
y /= 2 # /= changes variable y by dividing it by 2
y = int(y) # cannot use = int(y) in the same line as /=
y

5

most languages support `+=`, `-=`, `*=`, and `/=`

# 10 Python can be a prima-donna.

scroll down to the last line to identify the bug in the code

# 11 Best Practices for Scientific Computing

write code in an understandable way with comments/markdown to assist understanding (WHY rather than WHAT)  
focus on finding a solution before improving on it later

# 12 Looking for help

use [stack overflow](https://stackoverflow.com/), [ChatGPT](https://chat.openai.com/), or [Google](https://www.google.com/)

## References

## Footnotes