<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1 (Celsius to Fahrenheit)

In [7]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]
for temp_c in temperatures_celsius:
    temp_f=(temp_c * 1.8)+32
    print(f"{temp_c} degrees in Celsius is {temp_f:.0f} degrees in Fahrenheit.")

0 degrees in Celsius is 32 degrees in Fahrenheit.
5 degrees in Celsius is 41 degrees in Fahrenheit.
10 degrees in Celsius is 50 degrees in Fahrenheit.
15 degrees in Celsius is 59 degrees in Fahrenheit.
20 degrees in Celsius is 68 degrees in Fahrenheit.
25 degrees in Celsius is 77 degrees in Fahrenheit.
30 degrees in Celsius is 86 degrees in Fahrenheit.
35 degrees in Celsius is 95 degrees in Fahrenheit.
40 degrees in Celsius is 104 degrees in Fahrenheit.
45 degrees in Celsius is 113 degrees in Fahrenheit.
50 degrees in Celsius is 122 degrees in Fahrenheit.

## Exercise 2 (Multiplication table)

In [9]:
for letter in ['A', 'B', 'C']: # loops once per letter
    for number in [1, 2, 3]: # loops once per number
        print(f'{letter}{number}', end='\t') # prints 1,2,3 for each letter A,B,C , separated by a tab space for each number
    print('\n') # line break for each alphabet

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [4]:
list=[1,2,3,4,5]
for count, number in enumerate(list,1):
    # print(f"{count} : ", end="")
    for number2 in list:
        multiple=number*number2
        if number2 == 1:
            print(f"{count} : {multiple}", end='\t')
        else:
            print(multiple, end='\t')
    print(end='\n')

1 : 1	2	3	4	5
2 : 2	4	6	8	10
3 : 3	6	9	12	15
4 : 4	8	12	16	20
5 : 5	10	15	20	25

tried an alternative by putting the code in line 3 in the first loop to print at the start of each line  
while keeping the rest of the multiples in line

In [1]:
list=[2,4,6,8,10]
for count, number in enumerate(list,1):
    print(f"{count} : ", end="")
    for number in list:
        product=count*number
        print(product, end='\t')
    print(end='\n')

1 : 2	4	6	8	10
2 : 4	8	12	16	20
3 : 6	12	18	24	30
4 : 8	16	24	32	40
5 : 10	20	30	40	50